body {
    background: #1A1A1A;
    
}

main {
    margin: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}



.formInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divImage{
    
}

.images{
    display: flex;
    flex-wrap: wrap;
}

.image{
    flex: 0 0 31%; /* Chaque image occupe 1/3 de la largeur */
            padding: 10px;
            width: 100%;
            height: auto;
            display: block;
}

