body {
    background: #1A1A1A;
}

main {
    height: 90vh;
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 0 0 48%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.column:first-child {
    margin-right: 8%;
    margin-top: 30px;
}

.column:last-child {
    margin-left: 8%;
    margin-top: 30px;
}

.column img {
    max-width: 100%;
    height: auto;
}

.post{
    display: flex;
    flex-direction: column;
    background: #484848;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spanLike{
    width: 12%;
}