body {
    background: #1A1A1A;
}

main {
    height: 90vh;
    width: auto;
    display: flex;
    justify-content: center;
}

.images{
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
    width: 80%;
}

.column {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.column:first-child {
    margin-right: 0%;
    margin-top: 30px;
}

.column:last-child {
    margin-left: 0%;
    margin-top: 30px;
}

.column img {
    max-width: 100%;
}

.post2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #484848;
    height: 25%;
    width: 90%;
    border: 1px solid grey;
    border-radius: 5px;
}

.post1{
    display: flex;
    flex-direction: row-reverse;
    background: #484848;
    height: 25%;
    width: 90%;
    border: 1px solid grey;
    border-radius: 5px;

}

.img{
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spanLike{
    width: 12%;
}

.images{
    
}

.pagination{
    height: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.current-page{
    margin-bottom: 10px;
    font: bold;
    font-size: 1.5rem;
    color: #B9FE65;
}

.pages{
}

.imagesAndInfo{
}

.comments{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}

.commentList{
    flex: 2;
    height: 80%;
    width: 100%;
}

.commentInfo{
    background: grey;
    width: 100%;
}

.commentUsername{
    font-weight: bold;
}

.comment{
    width: 95%;
}

.commentForm{
    bottom: 0%;
    height: 20%;
    display: flex;
    flex-direction: row;
}

.commentUl{
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.commentUl::-webkit-scrollbar {
    width: 6px;
}

.commentUl::-webkit-scrollbar-track {
    background-color: transparent;
}

.commentUl::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.commentUl::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.commentArea1{
    resize: none;
    height: auto;
    background: rgb(94, 94, 94);
    border-bottom-left-radius: 5px;
}

.commentArea2{
    resize: none;
    height: auto;
    background: rgb(94, 94, 94);
}

.commentArea1::placeholder{
    color: #262626;
}

.commentArea2::placeholder{
    color: #262626;
}

.send{
    width: 100%;
    height: 100%;

}

.submitBtn{
    background: url(../assets/send.png) no-repeat center center;
    background-color: #808080;
    background-size: 20px 20px;
    width: 20%;
    border: none;
}



/* Pour les écrans de petite taille (tels que les smartphones) */
@media only screen and (max-width: 600px) {
    body{
        height: 100vh;
    }
    main {
        width: 100%;
       
    }

    .gallery{
        flex-direction: column;
        align-items: center;
        justify-content: initial;
        width: 100%;
    }

    .column {
        width: 45%;
        display: flex;
        flex-direction: column;
    }
    .column:first-child {
        margin-right: 0%;
        margin-top: 0;
    }
    
    .column:last-child {
        margin-left: 0%;
        margin-top: 0;
    }

    .images{
        height: 200%;
        flex-direction: column;
    }
    
    .post1{
        width: 180%;
        height: auto;
        margin: 15px 0px;
    }

    .post2{
        width: 180%;
        height: auto;
        margin: 15px 0px;
    }

    .pagination{
        position: relative;
        bottom: 0%;
    }

    .numberPage{
        padding: 5px 10px;
    }
}

/* Pour les écrans de taille moyenne à grande */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    body{
        height: 100vh;
    }
    main {
        width: 100%;
       
    }

    .gallery{
        flex-direction: column;
        align-items: center;
        justify-content: initial;
        width: 100%;
    }

    .column {
        width: 45%;
        display: flex;
        flex-direction: column;
    }
    .column:first-child {
        margin-right: 0%;
        margin-top: 0;
    }
    
    .column:last-child {
        margin-left: 0%;
        margin-top: 0;
    }

    .images{
        height: 160%;
        flex-direction: column;
    }
    
    .post1{
        width: 180%;
        height: auto;
        margin: 15px 0px;
    }

    .post2{
        width: 180%;
        height: auto;
        margin: 15px 0px;
    }

    .pagination{
        position: relative;
        bottom: 0%;
    }

    .numberPage{
        padding: 5px 10px;
    }

}
