body {
    background: #1A1A1A;
}

main {
    height: 90vh;
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.column:first-child {
    margin-right: 0%;
    margin-top: 30px;
}

.column:last-child {
    margin-left: 0%;
    margin-top: 30px;
}

.column img {
    max-width: 100%;
}

.post2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #484848;
    height: 25%;
    width: 90%;
    border: 1px solid grey;
    border-radius: 5px;
}

.post1{
    display: flex;
    flex-direction: row-reverse;
    background: #484848;
    height: 25%;
    width: 90%;
    border: 1px solid grey;
    border-radius: 5px;
}

.img{
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spanLike{
    width: 12%;
}

.images{
    
}

.pagination{
    height: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.current-page{
    margin-bottom: 10px;
    font: bold;
    font-size: 1.5rem;
    color: #B9FE65;
}

.pages{
}

.comments{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.commentList{
    flex: 2;
    height: 80%;
    width: 100%;
}

.commentInfo{
    background: grey;
    width: 100%;
}

.commentUsername{
    font-weight: bold;
}

.comment{
    width: 50%;
}

.commentForm{
    bottom: 0%;
    height: 20%;
    display: flex;
    flex-direction: row;
}

.commentUl{
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow: scroll;
}

.commentArea{
    resize: none;
    height: auto;
    background: rgb(94, 94, 94);
    border-radius: 5px;
}

.commentArea::placeholder{
    color: #262626;
}

.send{
    width: 100%;
    height: 100%;

}
