body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 100, 0, 0.1);
    text-align: center;
    width: 30%;
}

.logo {
    width: 150px;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="text"], input[type="password"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error-message, .success-message {
    margin-bottom: 1rem;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}

.error {
    color: red;
    font-size: 0.8rem;
}

.registerBtn {
    background: none;
    border: none;
    color: #4CAF50;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.registerBtn:hover {
    color: #45a049;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-top: 5px;
    font-size: 0.9em;
    color: #4CAF50;  
    text-decoration: none;
    transition: color 0.3s;  
}

.forgot-password:hover {
    color: #45a049; 
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    main {
        width: 70%;
    }
}