 body{
    overflow: hidden;
    background: #1A1A1A;
}

main{
    
    height: 90vh;
    display: flex;
    justify-content: center;
}

.montage{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
}

.cameraCol{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}


.videoElement {
    border: 1px solid black;
    position: relative; 
}

.captureButton{
    background: #BAFE66;
    border: none;
    border-radius: 20px;
    height: 6%;
    width: 20%;
    cursor: pointer;
}

.filterCol{
    width: 100%;
    margin-top: 5%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 


.filterImage{
    display: none;
    position: absolute;
}

.filterButton{
    width: 80%;
}

.videoContainer {
    position: relative;
    display: inline-block;
}

#videoElement {
    width: 100%;
    height: auto;
}

#filterImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.recentImages{
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #333333;
}

.recentImages h2{
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    height: 85%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.img{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filterButton1{
    background: url(../assets/filtre1.png) no-repeat center center;
    background-size: 100% 100%;
}

.filterButton2{
    background: url(../assets/filtre2.png) no-repeat center center;
    background-size: 100% 100%;
}

.filterButton3{
    background: url(../assets/filtre3.png) no-repeat center center;
    background-size: 100% 100%;
}

.filterButton4{
    background: url(../assets/filtre4.png) no-repeat center center;
    background-size: 100% 100%;
}

.filterButton5{
    background: url(../assets/filtre5.png) no-repeat center center;
    background-size: 100% 100%;
}

.filterButton6{
    background: url(../assets/filtre6.png) no-repeat center center;
    background-size: 100% 100%;
}

.filterButton7{
    background: url(../assets/filtre7.png) no-repeat center center;
    background-size: 100% 100%;
}

.filterButton8{
    background: url(../assets/filtre8.png) no-repeat center center;
    background-size: 100% 100%;
}

.filterButton9{
    background: url(../assets/filtre9.png) no-repeat center center;
    background-size: 100% 100%;
}


/* Pour les écrans de petite taille (tels que les smartphones) */
@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
        align-items: center;
    }


    .filterCol {
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        margin-top: 5%;
    }  
    .cameraCol {
        height: 80%;
        width: 100%;
        justify-content: initial;
    }

    .recentImages{
        right: auto;
        bottom: 0%;
        height: 20%;
        width: 100%;
    }

    .recentImages h2{
        margin-top: 2%;
    }

    .images{
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .img{
        width: auto;
        height: 100%;
        padding: 10px;
    }
}

/* Pour les écrans de taille moyenne à grande */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    .filterCol {
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        margin-top: 5%;
    }  
    .cameraCol {
        height: 100%;
        width: 100%;
    }

    .recentImages{
        right: auto;
        bottom: 0%;
        height: 20%;
        width: 100%;
    }

    .recentImages h2{
        margin-top: 2%;
    }

    .images{
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .img{
        width: auto;
        height: 100%;
    }
}
